:css
    h2 a {  color: #333333; }
:javascript
    $(function() {
        $('.detail-text').click(function(ev) {
            ev.preventDefault();
            var elem = $(ev.currentTarget);
            $('#detail-container').html(elem.data('text'));
        });
    });

- what_is_diaspora = '<h3>what is diaspora*?</h3> |
    <p>diaspora* is an awesome decentralized open source social network full of really cool people. Instead of being owned and controlled by a single corporation, all the pods (servers) in the diaspora* network are totally independent and controlled usually by single individuals.</p> |
    <p> The project, which is run by a community of volunteers, builds the software which is free to use by anyone. You can easily run a pod yourself too, or if you don\'t want to, check out some of the open pods and go create an account!</p> |
    <div> |
        <a class="btn btn-primary" href="https://diasporafoundation.org" target="_blanc">More information</a> |
        <a class="btn btn-success" href="http://pods.jasonrobinson.me">Find a pod</a> |
    </div>' |
-
- about_this_pod = '<h3>about this pod</h3> |
    <p>I Like Toast is maintained by <a href="https://iliketoast.net/u/jaywink">Jason Robinson</a> as a free service to the diaspora* community. |
    Occasionally invitations will be closed to make sure the pod keep runnings smoothly, but when invitations are open, anyone is welcome |
    to create an account. By creating an account you agree to the <a href="https://iliketoast.net/terms">terms of service and privacy policy</a>. Please |
    read these carefully before creating an account.</p> |
    <h3>code version</h3> |
    <p>This pod runs on the development branch of the diaspora* source code. <b>This means things will occasionally break</b>, though every effort will |
    made to make sure this doesn\'t happen often. Changelogs of new features and fixes will be posted to the |
    <a href="https://iliketoast.net/u/podmin">podmin account</a>, so it makes sense to follow that.</p> |
    <div> |
        <a class="btn btn-info" href="https://iliketoast.net/terms">Terms of Service</a> |
        <a class="btn btn-success" href="http://iliketoast.net/u/podmin">Pod news</a> |
    </div>' |
-
- help_us = '<h3>help us</h3> |
    <p>If you find this pod useful to you and make daily use of it, it makes me happy. :) But let\'s face it, running a bunch of servers doesn\'t |
    come without costs. Any donations are highly encouraged and will make sure that I can keep this pod running at full speed.</p> |
    <h3>other ways to help</h3> |
    <p>You don\'t need money to help running this pod. If you can do user interface design, write code or are just in general a creative person and want to help |
    push diaspora* forward, please check out the <a href="https://diasporafoundation.org/get_involved">how to get involved</a> page for ways to help. |
    Helping diaspora* directly helps this pod too! |
    <div> |
        <a class="btn btn-success" href="https://diasporafoundation.org/get_involved">Learn more about contributing</a> |
    </div>' |

%div{:class => "container"}
    %div{:class => "span12 text-center"}
        %div{:class => "hero-unit text-center"}
            %h1{:style => "font-size: 128px; font-family: 'Courier New', Courier, monospace;"}
                I Like Toast
        %div{:class => "span8 text-center"}
            %div{:class => "row"}
                %div{:class => "span4 text-right", :style => "padding-top: 50px;"}
                    %h2
                        %a{:href => "#", :class => "detail-text", :data => {:text => "#{what_is_diaspora}"}}
                            what is diaspora*?
                    %h2
                        %a{:href => "#", :class => "detail-text", :data => {:text => "#{about_this_pod}"}}
                            about this pod
                    %h2
                        %a{:href => "#", :class => "detail-text", :data => {:text => "#{help_us}"}}
                            help us
                %div{:class => "span4"}
                    %img{:src => "#{image_path('toast.png')}"}
            %div{:class => "row", :id => "detail-row"}
                %hr
                %div{:class => "offset2 span8 text-left", :id => "detail-container", :style => "margin-bottom: 30px;"}
            %div{:id => "donations", :class => "row"}
                %div{:class => "span12 text-center"}
                    %span
                        %script{:id => "fbn7hs9"}
                            (function(i){var f,s=document.getElementById(i);f=document.createElement('iframe');f.src='//api.flattr.com/button/view/?uid=jaywink&button=compact&url='+encodeURIComponent(document.URL);f.title='Flattr';f.height=20;f.width=110;f.style.borderWidth=0;s.parentNode.insertBefore(f,s);})('fbn7hs9');
                    %span{:style=>"display: inline-flex;"}
                        %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method=>"post", :target=>"_top"}
                            %input{:type=>"hidden", :name=>"cmd", :value=>"_s-xclick"}
                            %input{:type=>"hidden", :name=>"encrypted", :value=>"-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAFjYGUeRfK9w1SUCBMBaoIVPhDpijCiZp0eoUllzQpclMdqKBVk51PJmqTbmHHetHTNdqxxv/HW0CBmpJslaWpwbC1ipSNALJ1+4y3NloG0ubR8TToNd9zOi4LI6a8VAQnkTLgJkhTiPwL5MwhP1eVJDXnbqFF/RokHKFY7a6f2zELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIqETcGj1UHCWAgZBQ8I2T26FjXWDms3KRoHxMv8lbdtyFuNCqNq9Onv9HGtWhSvnrZzSB0ZKRmIwUsQMLx9CC3BcqkBnGnAMskTbGmUY+0v2y5O0NatkhdhMQP9czViPLAu29nU64SBo/1tyWaymvFBCXp1z9NyLK6gyboIvFbWLv88zJS0Ud9UuoLEOhN3uKe5blLEjsLgSJDhCgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNTA1MDUxOTMyMjZaMCMGCSqGSIb3DQEJBDEWBBQG6e1kMLPbTuj2/9pEi2brSwhPATANBgkqhkiG9w0BAQEFAASBgFFbj8pvdaeaAICc5Bd9RKKcIpm6ldWKBBLjtkERIGNxeYg4r/mBhPpri7UPC9+xz6PBCTwI/KnfTGF9Mb8U86PhgV35woj50cW3CyMxgZQx1eVJINFAfFDsjsUKiX0+Dnio6F7i/g+H1unsSUt5ZcaLEmLjfhYlMfmYdj0YSRNs-----END PKCS7-----"}
                            %input{:type=>"image", :src=>"https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif", :border=>"0", :name=>"submit", :alt=>"PayPal - The safer, easier way to pay online!"}
                            %img{:alt=>"", :border=>"0", :src=>"https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width=>"1", :height=>"1"}

                %div{:class => "offset3 span4 text-center"}
                    %span
                        %dl{:class => "dl-horizontal"}
                            %dt
                                BTC
                            %dd
                                1NvzSejpWwzmozJGuHo3L2e5Z2fzxRj3TB
                            %dt
                                XPM
                            %dd
                                AZvfhRmq9sxi4Sv4dG3ykckzEGyCbujRsn
